/* = Default project vars. */
:import {
  -st-from: "@actionishope/shelley/styles/default/project.st.css";
  -st-named:
    --spacing-unit;
}

/* = Shelley project scope and vars. */
:import {
  -st-from: "../../styles/puma/project.st.css";
  -st-default: Puma;
  -st-named:
    /* = CSS3 Switcher vars. */
    --color-accent-1,
    --color-background-2;
}

:import {
  -st-from: "@actionishope/shelley/components/InputSelectionControl/inputSelectionControl.st.css";
  -st-default: SelectionControl;
}

:import {
  -st-from: "@actionishope/shelley/components/Grid/grid.st.css";
  -st-default: Grid;
}

:import {
  -st-from: "@actionishope/shelley/components/InputBase/inputBase.st.css";
  -st-default: InputBase;
}

:import {
  -st-from: "@actionishope/shelley/components/Label/label.st.css";
  -st-default: Label;
}

@st-scope Puma {
  .root {
    /* background: pink;
    grid-template-areas: 'editor preview''. preview'; */
    /* display: grid;
    grid-template-rows: 64px auto;
    height: 100vh; */

    /* --transition-opacity: */
    /* #6656c1 */

  }

  .root InputBase::fieldInput {
    -webkit-font-smoothing: antialiased;
  }


  .header {
    background: #0b0d12;
    height: 64px;
    /* position: fixed; */
    width: 100vw;
    z-index: 100;
    /* top: -60px; */
    /* transition: filter .15s ease-in-out; */
    /* border-bottom: 1px solid #2f2f2f; */
  }

  .header,
  /* .contentBlock.metaBlock, */
  .actions,
  .previewVisibility {
    transition: filter 80ms ease-in-out, opacity 80ms ease-in-out;
    filter: blur(0px)
  }


  .header:hover {
    top: 0px;
  }


  /* 
  .texture {
    background-size: 16px 16px;
    background-image: linear-gradient(45deg, #f2f2f2 25%, transparent 25%), linear-gradient(-45deg, #f2f2f2 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #f2f2f2 75%), linear-gradient(-45deg, transparent 75%, #f2f2f2 75%);
    background-position: 0 0, 0 8px, 8px -8px, -8px 0;
  } */


  .appWrap {
    background: #fff;
    color: #333;
    min-width: 310px;
    max-width: 375px;
    transform: scale(0.8);
    max-height: 75vh;
    transform-origin: center 0;
  }


  .scroll {
    height: calc(100vh - 64px);
    overflow-x: hidden;
    overflow-y: scroll;
    /* = Gives 1px above the meta image block. - taken care of on with layout padding 1*/
    /* margin-top: 1px; */
    /* transform: translateZ(0); */
  }



  .menuItem {
    padding: 20px
  }


  .contentActions {
    position: sticky;
    bottom: 1px;

    /* width: 100%; */
    /* background: #0f1118ed; */
    background: linear-gradient(0deg, rgba(15, 17, 24, 0.927608543417367) 85%, rgba(15, 17, 24, 0.6082808123249299) 100%);
    background: rgb(15, 17, 24);
    background: linear-gradient(0deg, rgba(15, 17, 24, 0.927608543417367) 43%, rgba(15, 17, 24, 0.6082808123249299) 100%);
    z-index: 100;
    height: 69px;
    /* border-top: 1px dashed #2d2d31; */
    /* border-right: 1px dashed #2d2d31; */
    display: flex;
    justify-content: center;
    /* margin: 10px; */
    padding: 0px 0 28px;
  }

  .contentActions Button {
    background: #0b0d12;
    color: #75eaff;
    width: 34%;
  }
}
