.root {
  margin-top: 50px;
}

.root header {
  display: grid;
  grid-gap: 0.692306rem;
  grid-template-columns: 75px 1fr;
  margin: 0.352306rem;
  font-size: .9em;
  align-items: center;
}

.root header img {
  width: 75px;
  height: 75px;
}

.root .added {
  font-size: 80%;
  padding-left: calc(75px + 0.692306rem);
  margin: -20px 0.352306rem 0;
}

.root .summary {
  font-size: 80%;
  display: grid;
  grid-gap: 0.692306rem;
  grid-template-columns: 75px 1fr 100px;
  margin: 0 0.352306rem;
}

.root .summary h2 {
  font-style: italic;
  letter-spacing: 0 !important;
}
