/* = Default project vars. */
:import {
  -st-from: "@actionishope/shelley/styles/default/project.st.css";
  -st-named:
    --spacing-unit,
}

/* = Shelley project scope and vars. */
:import {
  -st-from: "../../styles/puma/project.st.css";
  -st-default: Puma;
  -st-named:
    /* = CSS3 Switcher vars. */
    --color-accent-1,
    --color-background-2;
}

:import {
  -st-from: "@actionishope/shelley/components/InputSelectionControl/inputSelectionControl.st.css";
  -st-default: SelectionControl;
}

@st-scope Puma {
  .root {
    /* background: pink;
  grid-template-areas: 'editor preview''. preview'; */
    display: grid;
    grid-template-rows: 64px auto;
    height: 100vh;
  }

  .header {
    background: #0b0d12;
    height: 64px;
    /* position: fixed; */
    width: 100vw;
    z-index: 100;
    /* top: -60px; */
    transition: top .15s ease-in-out;
    border-bottom: 1px solid #505050;
  }

  .header:hover {
    top: 0px;
  }

  .internalGrid {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: 64px 1fr 120px;
    grid-template-areas:
      'content previewModes'
      'content preview'
      'content actions';
  }

  .content {
    grid-area: content
  }

  .previewVisibility {
    grid-area: previewModes;
    margin-left: -42px;
    width: 94px;
    z-index: 10;
  }

  .previewModes {
    grid-area: previewModes;
    /* padding-left: 100px; */
    text-align: center;
    border-left: 1px solid #505050;
    background: #000;
    /* background-color: #101119; */
    border-bottom: 1px dashed #5050506e;
    z-index: 1;
  }

  .previewFullScreen {
    grid-area: previewModes;
    margin-right: 32px;
    justify-self: flex-end;
    z-index: 10;
    width: 94px;
  }

  .preview {
    grid-area: preview;
    border-width: 1px;
    border-style: solid;
    border-width: 0 0 1px 1px;
    border-color: #505050;
    /* background-size: 16px 16px;
  background-image: linear-gradient(45deg, #000 25%, transparent 25%), linear-gradient(-45deg, #000 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #000 75%), linear-gradient(-45deg, transparent 75%, #000 75%);
  background-position: 0 0, 0 8px, 8px -8px, -8px 0; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
  }

  .previewModes {
    padding-top: 18px;
  }



  .previewModes SelectionControl:type(radio)::inputField {
    border: none;
  }

  .previewModes SelectionControl:type(radio)::inputField::before {
    width: 100%;
    height: 1px;
    background: none;
    border-bottom: 1px solid #89ffca;
  }

  .previewModes SelectionControl:type(radio)::inputField::after {
    top: auto;
    height: 0px;
    bottom: 1px;
    border-radius: 0;
    box-shadow: none;
    background: #09b1f1;
    box-shadow: 0 0 1px 1px #09b1f1;
  }

  /* 
  .texture {
    background-size: 16px 16px;
    background-image: linear-gradient(45deg, #f2f2f2 25%, transparent 25%), linear-gradient(-45deg, #f2f2f2 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #f2f2f2 75%), linear-gradient(-45deg, transparent 75%, #f2f2f2 75%);
    background-position: 0 0, 0 8px, 8px -8px, -8px 0;
  } */


  .appWrap {
    background: #fff;
    color: #333;
    min-width: 310px;
    max-width: 375px;
    transform: scale(0.8);
    max-height: 75vh;
    transform-origin: center 0;
  }


  .actions {
    grid-area: actions
  }

  .scroll {
    height: calc(100vh - 64px);
    overflow-y: scroll
  }

  .contentBlock {
    padding: 1.3rem;
    /* padding: value(spacing-unit) */

    padding: 1.3rem 0;
    border: 1px dashed #50505085;
    border-width: 0px 0 1px;
    /* margin: 32px; */
    background: #0f1117;
    /* border-radius: 15px; */
    /* border: none;*/
  }

  .contentBlock:first-child {
    background: #0b0d12;
  }



  .radioIcon+.radioIcon {
    margin-left: 40px
  }
}
