@st-global-custom-property --vh;

/** board.st.css */

/* = Default project vars. */
:import {
  -st-from: "@actionishope/shelley/styles/default/project.st.css";
  -st-named:
    --spacing-unit,
    breakpoint-md,
    breakpoint-md-max;
}

/* = Shelley project scope and vars. */
:import {
  -st-from: "./project.st.css";
  -st-default: Puma;
  -st-named:
    /* = CSS3 Switcher vars. */
    --color-ui-inverse,
    --color-accent-1,
    --color-accent-2,
    --color-accent-3,
    --color-accent-4,
    --color-background-2;
}

/* = Root Component */
:import {
  -st-from: "../../components/Board/board.st.css";
  -st-default: Board;
}

/* = Child. */
:import {
  -st-from: "@actionishope/shelley/components/Text/text.st.css";
  -st-default: Text;
}


@st-scope Puma {
  Board {
    overflow: hidden;
    position: relative;
    /* overflow-x: scroll; */
  }
}

@media only screen and (max-width: 768px) {
  @st-scope Puma {
    Board {
      /* Allows horizontal scrolling of the entire board. */
      /* overflow-x: scroll; */
      /* scroll-snap-type: x mandatory;
      overflow-x: scroll; */
    }
  }
}



@st-scope Puma {

  :global(body) {
    /* height: 100vh; */
  }

  :global(body) {
    /* The hack for Safari */
    /* height: -webkit-fill-available; */
  }

  /* Avoid Chrome to see Safari hack */
  @supports (-webkit-touch-callout: none) {
    :global(body) {
      /* The hack for Safari */
      /* height: -webkit-fill-available; */
      overflow: hidden;
      height: -webkit-fill-available;
    }
  }


  Board::slider {
    /* font-family: sans-serif; */
    scroll-snap-type: x mandatory;
    display: flex;
    overflow-x: scroll;
    clear: both;
    position: relative;
    /* font-size: 90%; */
    height: calc(var(--vh, 1vh) * 100 - 75px);
  }

  Board::slider::before {
    content: "";
    display: block;
    position: absolute;
    top: 36px;
    left: 97vw;
    right: 0;
    bottom: 0;
    background-image: url("../../images/wider-earth.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    /* opacity: 0.6; */
    opacity: 0.1;
    width: 250vw;
  }


  Board::slideCol>Text:uppercase {
    color: var(--color-ui);
    font-weight: 400;
    margin-top: 8px;
  }


  Board::slideCol {
    /* margin-left: 10vw; */
    /* height: 100vh; */
    scroll-snap-align: start;
    text-align: center;
    position: relative;

  }

  Board::backlog {
    min-width: 97vw;
    /* width: 100vw;
  height: 80vw; */
  }

  Board::todo {
    min-width: 70vw;
  }

  Board::todo Text {
    text-align: center;
    margin-left: 23%;
  }

  Board::progress {
    min-width: 82vw;
  }

  Board::progress Text {
    text-align: right;
    margin-right: 19%;
  }

  Board::done {
    min-width: 70vw;
  }

  Board::done Text {
    text-align: right;
    margin-right: 21%;
  }

  Board::scroller {
    overflow-x: scroll;
  }

  Board::boardTaskLink {
    color: var(--color-ui);
    display: block;
    position: relative;
    /* z-index: 1000; */

    outline: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    /* max-width: 21vw; */
    /* max-width: calc(42vw - 200px); */
    /* Invokes some extra resources to handle rendering this over other transformed items, in this case the board. */
    transform: translateZ(0);

  }
}

@media value(breakpoint-md) {
  @st-scope Puma {

    Board::slider::before {
      top: 36px;
      left: 25vw;
      bottom: 0;
      opacity: 0.6;
      width: 75vw;
    }

    Board::slideCol {
      min-width: 25vw;
    }
  }
}


/*=== Board ===*/
@st-scope Puma {
  Board::board {
    /* display: grid; */
    /* grid-template-columns: 34vw 32vw 34vw; */
    /* height: calc(100% - 300px); */
    /* height: 100%; */
    /* min-width: calc(72vw * 3); */
    width: 250vw;
    /* 
    height: 54.5vh; This was causing issue on mobile scroll. 
    vh and vw are incrediably useful but they can be a bit buggy.
    especially on the iPad it would seem and even more so in an 
    iframe on an iPad, seen some weird stuff there!*/
    /* overflow: hidden; */
    /* We love this image, thanks NASA! */
    /* background-image: url("../../images/wider-earth.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    /* position: relative; */
    /* padding-left: 20px; */

    position: absolute;
    top: 36px;
    right: 0;
    bottom: 0;
    left: 97.5vw;

    overflow: scroll;
    /* scroll-snap-type: y mandatory; */
    scroll-snap-type: y proximity
  }

}

@media value(breakpoint-md) {
  @st-scope Puma {
    Board::board {
      left: 25vw;
      width: 75vw
    }
  }
}

@st-scope Puma {
  Board::solutionBoard {
    display: grid;
    width: 100%;
    grid-template-columns: 82vw 82vw 82vw;
    position: relative;
    /* scroll-snap-type: x mandatory; */
    /* display: flex;
      -webkit-overflow-scrolling: touch;
      overflow-x: scroll; */

  }
}

@media value(breakpoint-md-max) {
  @st-scope Puma {
    Board::solutionBoard {
      overflow: hidden;
    }
  }
}


@media value(breakpoint-md) {
  @st-scope Puma {
    Board::solutionBoard {
      grid-template-columns: 25vw 25vw 25vw;
    }
  }
}

/* @media only screen and (min-width: 461px) and (max-width: 730px) {
  @st-scope Puma {
    Board::board {
      grid-template-columns: 40vw 40vw 40vw;
    }
  }
}

@media only screen and (min-width: 731px) and (max-width: 800px) {
  @st-scope Puma {
    Board::board {
      width: calc(33.33334vw * 3);
      grid-template-columns: 33.33334vw 33.33334vw 33.33334vw;
    }
  }
} */

/* 
  Please excuse the following selectors over direct classes. They are a bit 
  fragile but we cannot reliably apply classes to the columns without them 
  going walkabout. So opting for the old-skool, but very useful 'CSS selectors'
  How 2010! :-)
  */
@st-scope Puma {
  Board::solutionBoard>div {
    overflow-y: scroll;
    overflow-x: hidden;
    /* height: 100vh; */
    /* height: 82vh; */
    min-height: 2vh;
    max-height: 25vh;
    width: 82vw;
    /* scroll-snap-align: start; */
    /* 
    Whilst this fixes the scrolling older iOS it also cuts off the action between
    columns. We wanted to keep this around so as to support older versions of iOS
    but this kinda kills that idea. The actions are comoletely cut off on drag.*/
    /* -webkit-overflow-scrolling: touch; */
  }

  Board::solutionBoard>div {
    position: relative;
    padding-bottom: 120px;
  }

  /* Slightly different gradients for each column and some layout ammends.*/
  Board::solutionBoard>div:first-child {
    background: linear-gradient(90deg,
        rgba(24, 26, 35, 0.75) 0%,
        rgba(24, 26, 35, 0.65) 100%);
  }

  Board::solutionBoard>div:nth-child(2) {
    background: linear-gradient(90deg,
        rgba(24, 26, 35, 0.65) 0%,
        rgba(24, 26, 35, 0.5) 100%);
    border-left: 2px dashed #ddd0;
    border-right: 2px dashed #ddd0;
    background-repeat: no-repeat;
    /* Makes the lines white on the solutionBoard. Odd. */
  }

  Board::solutionBoard>div:last-child {
    background: linear-gradient(90deg,
        rgba(24, 26, 35, 0.5) 0%,
        rgba(24, 26, 35, 0.1) 100%);
  }

  Board::solutionBoard>div {
    /* padding-left: calc(2vw + 16px);
    padding-right: calc(2vw + 16px); */
  }
}

@media value(breakpoint-md) {
  @st-scope Puma {
    Board::solutionBoard>div {
      width: 25vw
    }
  }
}

/* @media only screen and (min-width: 1020px) {
  @st-scope Puma {
    Board::solutionBoard>div:first-child {
      padding-left: calc(27vw - 290px);
      padding-left: calc(27vw - 510px);
      padding-right: 7vw;
      padding-right: 4vw;

      padding-left: 4vw;
      padding-right: 3vw;
    }

    Board::solutionBoard>div:nth-child(2) {
      padding-left: calc(16vw - 145px);
      padding-right: calc(16vw - 145px);

      padding-left: calc(16vw - 255px);
      padding-right: calc(16vw - 255px);
      padding-left: 4vw;
      padding-right: 3vw;
    }

    Board::solutionBoard>div:last-child {
      padding-right: calc(27vw - 510px);
      padding-left: 7vw;
      padding-left: 4vw;
      padding-right: 3vw;
    }
  }
} */


/* rgb(24, 26, 35) */
Board::solutionItem {
  scroll-snap-align: start;
  position: relative;
  z-index: 10;
  left: 0;
  /* padding: calc(var(--spacing-unit) * 1.3) var(--spacing-unit); */
  padding: calc(var(--spacing-unit) * 1.2) var(--spacing-unit);
  /* padding-right: 80px; */
  padding-right: 38px;
  background: rgba(24, 26, 35, 0.85);
  width: 82vw;
  margin-top: 16px;
  font-size: 93%;
  border-bottom: 1px solid #5a60a573;
  color: var(--color-accent-2);
}

Board::solutionItem Text:uppercase {
  letter-spacing: .08em !important;
}

Board::solutionBoard:last-child {
  padding-bottom: 82vh;
}


@media value(breakpoint-md) {
  @st-scope Puma {
    Board::solutionItem {
      width: 25vw
    }
  }
}


:global(.boardContainer-enter-active) {
  transition: transform 250ms cubic-bezier(0.03, 0.63, 0.28, 1.02);
  transform: translateY(0);
}

:global(.boardContainer-enter-done) {
  transform: none;
}

:global(.boardContainer-exit) {
  transform: translateY(0);
}

:global(.boardContainer-exit-active) {
  transition: transform 250ms cubic-bezier(0.42, 0, 0.21, 1.13);
  transform: translateY(75vh);
}
