/**
 * = BUTTON - button.st.css
 *
 * We only have one, so far so good. YOu should have enough sizes and hooks
 * but you can always add your own custome classes for whatever you need or 
 * wrap this button up inside other buttons pre configured for your usecases.
 * 
 * ========================================================================= */


/* = Default project vars. */
:import {
  -st-from: "@actionishope/shelley/styles/default/project.st.css";
  -st-named:
    --spacing-unit,
}

/* = Shelley project scope and vars. */
:import {
  -st-from: "./project.st.css";
  -st-default: Puma;
  -st-named:
    /* = CSS3 Switcher vars. */
    --color-ui-inverse,
    --color-accent-1,
    --color-accent-2,
    --color-accent-3,
    --color-accent-4,
    --color-background-2;
}

/* = Root Component */
:import {
  -st-from: "../../components/BoardTask/boardTask.st.css";
  -st-default: BoardTask;
  /* -st-named:
    --bg-color,
    --border-color,
    --text-color; */
}


/* = Child components */
:import {
  -st-from: "@actionishope/shelley/components/Text/text.st.css";
  -st-default: Text;
}


/* = This is how we can scope the styles in Stylable. */
@st-scope Puma {

  /* = = The root element. */
  BoardTask {
    position: relative;
    padding: .6rem var(--spacing-unit);
    /* padding: .6rem 1rem; */
    /* background-color: var(--color-background-2); */

    /* font-family: Trebuchet MS, Arial, sans-serif; */
    text-decoration: none;
    color: #e7ecec;
    -webkit-font-smoothing: antialiased;
    background-size: cover;
    /* padding: 0 48px 0 22px; */
    /* margin: 0 0 1px 0; */
    /* border-bottom: 1px dashed rgba(255, 255, 255, 0.1); */
    /* margin-bottom: 2px; */
    text-shadow: 1px 1px 1px #000;
    /* box-shadow: 16px 8px 16px rgba(197, 83, 29, 0.39); */
    position: relative;
    /* text-align: right; */
    display: flex;
    /* height: 60px; */
    /* font-size: 14px; */
  }

  BoardTask::title {
    color: #ccc;
    line-height: 1.5
  }

}
