@st-global-custom-property --vh;

/** board.st.css */

/* = Default project vars. */
:import {
  -st-from: "@actionishope/shelley/styles/default/project.st.css";
  -st-named:
    --spacing-unit,
    breakpoint-md,
    breakpoint-md-max;
}

/* = Shelley project scope and vars. */
:import {
  -st-from: "./project.st.css";
  -st-default: Puma;
  -st-named:
    /* = CSS3 Switcher vars. */
    --color-ui-inverse,
    --color-accent-1,
    --color-accent-2,
    --color-accent-3,
    --color-accent-4,
    --color-background-2;
}

/* = Root Component */
:import {
  -st-from: "../../components/Board/board.st.css";
  -st-default: Board;
  -st-named: solutionItemContainer;
}

/* = Child. */
:import {
  -st-from: "@actionishope/shelley/components/Text/text.st.css";
  -st-default: Text;
}


@st-scope Puma {
  Board {
    overflow: hidden;
    position: relative;
    margin-top: 50px;
    /* overflow-x: scroll; */
  }
}

@media only screen and (max-width: 768px) {
  @st-scope Puma {
    Board {
      /* Allows horizontal scrolling of the entire board. */
      /* overflow-x: scroll; */
      /* scroll-snap-type: x mandatory;
      overflow-x: scroll; */
    }
  }
}



@st-scope Puma {

  :global(body) {
    /* height: 100vh; */
  }

  :global(body) {
    /* The hack for Safari */
    /* height: -webkit-fill-available; */
  }

  /* Avoid Chrome to see Safari hack */
  @supports (-webkit-touch-callout: none) {
    :global(body) {
      /* The hack for Safari */
      /* height: -webkit-fill-available; */
      overflow: hidden;
      height: -webkit-fill-available;
    }
  }


  Board::slider {
    /* font-family: sans-serif; */
    scroll-snap-type: x mandatory;
    display: flex;
    overflow-x: scroll;
    clear: both;
    position: relative;
    /* font-size: 90%; */
    height: calc(var(--vh, 1vh) * 100 - 125px + 2px);
  }

  /*= The board background. */
  Board::slider::before {
    content: "";
    display: block;
    position: absolute;
    top: 36px;
    left: 97vw;
    right: 0;
    bottom: 0;
    background-image: url("../../images/wider-earth.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    opacity: 0.6;
    /* opacity: 1; */
    width: 250vw;
  }

  Board::slider::after {
    content: "";
    display: block;
    position: absolute;
    top: 36px;
    left: 97vw;
    right: 0;
    bottom: 0;
    background: rgb(22, 44, 75);
    background: linear-gradient(0deg, rgba(14, 28, 47, 0.25) 0%, rgba(22, 44, 75, 0.8) 100%);
    /* opacity: 0.1; */
    width: 250vw;
  }


  Board::slideCol>Text:uppercase {
    color: var(--color-ui);
    font-weight: 400;
    margin-top: 8px;
  }


  Board::slideCol {
    /* margin-left: 10vw; */
    /* height: 100vh; */
    scroll-snap-align: start;
    text-align: center;
    position: relative;
  }

  Board::backlog {
    min-width: 97vw;
  }

  Board::backlogList {
    padding: 0;
    margin: 9px 0 0 0;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(var(--vh, 1vh) * 100 - 125px - 18px - 8px - 10px - 51px - 20px);
  }

  Board::todo {
    min-width: 70vw;
  }

  Board::todo Text {
    text-align: center;
    margin-left: 23%;
  }

  Board::progress {
    min-width: 82vw;
  }

  Board::progress Text {
    text-align: right;
    margin-right: 19%;
  }

  Board::done {
    min-width: 70vw;
  }

  Board::done Text {
    text-align: right;
    margin-right: 21%;
  }

  Board::scroller {
    overflow-x: scroll;
  }

  Board::boardTaskLink {
    color: var(--color-ui);
    display: block;
    position: relative;
    /* z-index: 1000; */

    outline: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    /* max-width: 21vw; */
    /* max-width: calc(42vw - 200px); */
    /* Invokes some extra resources to handle rendering this over other transformed items, in this case the board. */
    transform: translateZ(0);
  }
  Board::boardTaskLink:not(:last-child)::after {
    content: "";
    display: block;
    height: 0;
    /* background-color: pink; */
    border-bottom: 1px dashed rgb(83 141 220 / 22%);
  }
}

@media value(breakpoint-md) {
  @st-scope Puma {

    Board::slider::before,
    Board::slider::after {
      top: 36px;
      left: 25vw;
      bottom: 0;

      width: 75vw;
    }

    Board::slider::before {
      opacity: 1;
    }

    Board::slideCol {
      min-width: 25vw;
    }
  }
}


/*=== Board ===*/
@st-scope Puma {
  Board::board {
    /* display: grid; */
    /* grid-template-columns: 34vw 32vw 34vw; */
    /* height: calc(100% - 300px); */
    /* height: 100%; */
    /* min-width: calc(72vw * 3); */
    width: 250vw;
    /* 
    height: 54.5vh; This was causing issue on mobile scroll. 
    vh and vw are incrediably useful but they can be a bit buggy.
    especially on the iPad it would seem and even more so in an 
    iframe on an iPad, seen some weird stuff there!*/
    /* overflow: hidden; */
    /* We love this image, thanks NASA! */
    /* background-image: url("../../images/wider-earth.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    /* position: relative; */
    /* padding-left: 20px; */

    position: absolute;
    top: 36px;
    right: 0;
    bottom: 0;
    left: 97.5vw;

    overflow: scroll;
    /* scroll-snap-type: y mandatory; */
    scroll-snap-type: y proximity;

    z-index: 10;
    /* transform: translateZ(0); */
        border-left: 1px solid #ffffff1c;
  }

}

@media value(breakpoint-md) {
  @st-scope Puma {
    Board::board {
      left: 25vw;
      width: 75vw;
      
    }
  }
}

@st-scope Puma {
  Board::solutionBoard {
    display: grid;
    width: 100%;
    grid-template-columns: 82vw 82vw 82vw;
    position: relative;
    /* scroll-snap-type: x mandatory; */
    /* display: flex;
      -webkit-overflow-scrolling: touch;
      overflow-x: scroll; */

  }
}

@media value(breakpoint-md-max) {
  @st-scope Puma {
    Board::solutionBoard {
      overflow: hidden;
    }
  }
}


@media value(breakpoint-md) {
  @st-scope Puma {
    Board::solutionBoard {
      grid-template-columns: 25vw 25vw 25vw;
    }
  }
}

@media value(breakpoint-md) {
  @st-scope Puma {
    Board::solutionBoard>div {
      width: 25vw
    }
  }
}

Board::solutionItemContainer {
  scroll-snap-align: start;
  display: inline-block;
  position: relative;
  z-index: 10;
  transition: transform .18s ease-in-out;
  border-bottom: 2px solid rgba(0,0,0,0.2);
}

/* rgb(24, 26, 35) */
Board::solutionItem {
  /* padding: calc(var(--spacing-unit) * 1.3) var(--spacing-unit); */
  padding: calc(var(--spacing-unit) * .5) var(--spacing-unit) calc(var(--spacing-unit) * .5) calc(var(--spacing-unit) * .5);
  /* padding-right: 16px; */
  /* padding-left: 38px; */
  /* background: rgba(24, 26, 35, 0.85); */
  background: rgb(12 27 45 / 69%);
  /* width: 82vw; */
  margin-top: 40px;
  font-size: 90%;
  /* border-bottom: 2px solid rgba(255,255,255,0.05); */
  /* margin-bottom: 2px; */
  color: var(--color-accent-2);
  position: relative;
}

Board::solutionItem::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
}

Board::solutionItem Text:uppercase {
  letter-spacing: .08em !important;
}

Board::posToDo .solutionItemContainer {
  transform: translateX(0);
}


Board::posInProgress .solutionItemContainer {
  transform: translateX(70vw);
}

Board::posDone .solutionItemContainer {
  transform: translateX(150.5vw);
}

/* 
Board::solutionOuter {
  flex-grow: 4;
  position: sticky;
  right: 25vw;
} */


@media value(breakpoint-md) {
  @st-scope Puma {
    Board::solutionItem {
      width: 25vw
    }
  }
}


:global(.boardContainer-enter-active) {
  transition: transform 250ms cubic-bezier(0.03, 0.63, 0.28, 1.02);
  transform: translateY(0);
}

:global(.boardContainer-enter-done) {
  transform: none;
}

:global(.boardContainer-exit) {
  transform: translateY(0);
}

:global(.boardContainer-exit-active) {
  transition: transform 250ms cubic-bezier(0.42, 0, 0.21, 1.13);
  transform: translateY(75vh);
}
