/* = Default project vars. */
:import {
  -st-from: "@actionishope/shelley/styles/default/project.st.css";
  -st-named:
    --spacing-unit,
    breakpoint-sm, breakpoint-md-max;
}

/* = Shelley project scope and vars. */
:import {
  -st-from: "./project.st.css";
  -st-default: Puma;
  -st-named:
    /* = CSS3 Switcher vars. */
    --color-ui,
    --color-ui-inverse,
    --color-accent-1,
    --color-accent-2,
    --color-accent-3,
    --color-accent-4;
}

/* = Root Component */
:import {
  -st-from: "../../components/Launch/launch.st.css";
  -st-default: Launch;
  -st-named: listTitle;
}

:import {
  -st-from: "@actionishope/shelley/components/Text/text.st.css";
  -st-default: Text;
}

:import {
  -st-from: "@actionishope/shelley/components/Button/button.st.css";
  -st-default: Button;
}


@media value(breakpoint-md-max) {
  @st-scope Puma {
    Launch {
      font-size: 85%;
      margin-top: calc(var(--spacing-unit) * 0.1);
    }

    Launch>Text:first-child {
      /* margin-bottom: calc(var(--spacing-unit) * 6); */
      margin-bottom: 10vh;
      margin-left: var(--spacing-unit);
    }

    Launch Text:uppercase.listTitle {
      margin-left: var(--spacing-unit);
    }

    Launch::snapScroll {
      overflow-x: scroll;
      overflow-y: hidden;
      display: grid;
      grid-template-columns: 98vw 98vw;
      scroll-snap-type: x mandatory;
    }

    Launch::slide {
      width: 95vw;
      scroll-snap-align: start;
    }
  }
}



@st-scope Puma {
  Launch {
    /* display: grid; */

    /* width: calc(100% - 32px); */
    /* align-self: center; */
    /* justify-self: center; */
    /* margin-top: calc(var(--spacing-unit) * 3); */
  }

  Launch>Text:first-child {
    /* margin-bottom: calc(var(--spacing-unit) * 6); */
    margin-bottom: 10vh;
  }

  Launch Text:uppercase.listTitle {
    color: var(--color-ui);
    letter-spacing: 0.15em;
    /* margin-bottom: calc(var(--spacing-unit) * 2); */
    margin-bottom: 5vh;
    font-weight: 400;
  }

  Launch::boardList {
    display: grid;
    grid-gap: var(--spacing-unit);
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-columns: repeat(2, minmax(154px, 20vw)); */
    list-style: none;
    padding: 0;
    margin: 0;
  }

}

@media value(breakpoint-sm) {
  @st-scope Puma {
    Launch {
      /* grid-template-columns: repeat(3, 225px); */

    }

    Launch::boardList {
      /* grid-template-columns: repeat(2, minmax(154px, 20vw)); */

    }

    Launch::boardList Button {
      width: 100%;
      height: 100%;
    }

    Launch::boardList Button::after {
      border-radius: 0;
    }
  }
}



.launch {
  grid-row: 3;
  grid-column: 1 / span 2;
}

@media only screen and (min-width: 1025px) {
  .launch {
    grid-row: 2;
    grid-column: 1 / span 3;
    /* animation: easeOutElastic 2s infinite;
    animation: bounceInUp 1s;
    animation-delay: .1s; */
  }
}

:global(.launchContainer) {
  transform: translateX(0);
}

:global(.launchContainer-enter) {
  transform: translateX(-100vw);
}

@media only screen and (min-width: 1025px) {
  :global(.launchContainer-enter) {
    transform: translateX(-60%);
  }
}

/* cubic-bezier(0.060, 0.975, 0.195, 0.985) */
:global(.launchContainer-enter-active) {
  transition: transform 130ms;
  /* transition: transform 300ms cubic-bezier(0.79, 0.14, 0.34, 1.29); */
  /* transition: transform 130ms cubic-bezier(0.18, -0.26, 0.71, 1.26); */
  transition: transform 130ms cubic-bezier(0.42, 0, 0.21, 1.13);
  /* transition: transform 130ms cubic-bezier(0.03, 0.63, 0.28, 1.02); */
  transform: translateX(0);
}

/* :global(.launchContainer-enter-done) {
  transform: translateX(0);
} */

:global(.launchContainer-exit) {
  transform: translateX(0);
}

:global(.launchContainer-exit-active) {
  /* transition: transform 170ms; */
  transform: translateX(-100vw);
  /* transition: transform 250ms cubic-bezier(0.18, -0.26, 0.71, 1.26); */
  transition: transform 130ms cubic-bezier(0.42, 0, 0.21, 1.13);
}

@media only screen and (min-width: 1025px) {
  :global(.launchContainer-exit-active) {
    /* transition: transform 170ms; */
    transform: translateX(-100%);
  }
}
