/* = Default project vars. */
:import {
  -st-from: "@actionishope/shelley/styles/default/project.st.css";
  -st-named: --spacing-unit, breakpoint-md, breakpoint-md-max;
}

/* = Shelley project scope and vars. */
:import {
  -st-from: "./project.st.css";
  -st-default: Puma;
  -st-named:
    /* = CSS3 Switcher vars. */
    --color-ui-inverse, --color-accent-1,
    --color-accent-2, --color-accent-3, --color-accent-4, --color-background-2;
}

/* = Root Component */
:import {
  -st-from: "../../components/ListBasic/listBasic.st.css";
  -st-default: ListBasic;
  -st-named: link, title;
}

:import {
  -st-from: "@actionishope/shelley/components/Text/text.st.css";
  -st-default: Text;
}

:import {
  -st-from: "@actionishope/shelley/styles/default/mixins/focus.st.css";
  -st-named: pseudoFocus, pseudoFocusVisible;
}

/* Button::after {
    -st-mixin: pseudoFocus;
    border-radius: 4px;
  }

  Button:focus::after {
    -st-mixin: pseudoFocusVisible;
  }
   */

@st-scope Puma {
  ListBasic {
    padding: 0;
    margin: 0;
  }

  ListBasic::item {
    /* display: flex; */
    list-style: none;
    /* flex-direction: column; */
    position: relative;
    background-color: var(--color-background-2);
    transition: all ease-in 75ms;
    position: relative;
    margin-bottom: 2px
  }



  ListBasic::item::after {
    -st-mixin: pseudoFocus;
  }

  ListBasic::item:focus-within::after {
    -st-mixin: pseudoFocusVisible;
  }

  ListBasic::item:hover::after {
    -st-mixin: pseudoFocusVisible;
    display: none;
  }

  ListBasic::media {}


  ListBasic::text {
    padding: calc(var(--spacing-unit) * 1.3) calc(var(--spacing-unit));
    padding-left: calc(var(--spacing-unit) * 3.3);
    /* padding: 1.5rem; */

    /* padding: 2vw; */
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }

  ListBasic::text>*+* {
    margin-top: 0.1rem;
  }


  ListBasic::emoji {
    font-size: 1.1em;
    position: absolute;
    left: calc(var(--spacing-unit) * 0.8);
    top: 12px;
    /* margin-top: 4px */
  }
}

@supports (-webkit-line-clamp: 2) {
  @st-scope Puma {
    ListBasic::text :global(p) {
      width: 100%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
  }
}

@media value(breakpoint-md-max) {
  @st-scope Puma {
    ListBasic::item Text.title {
      font-size: 1em;
    }
  }
}

@st-scope Puma {
  ListBasic::text> :last-child {
    margin-top: auto;
    /* padding-top: 0.75rem; */
  }

  ListBasic::item Text:uppercase.title {
    color: var(--color-accent-2);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 500;
    letter-spacing: 0.17em;

  }

  ListBasic::item Text>.link {
    text-decoration: none;
    border: none;
    color: inherit;
    position: static;
  }

  ListBasic::item Text>.link::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
}
