/* = Default project vars. */
:import {
  -st-from: "@actionishope/shelley/styles/default/project.st.css";
  -st-named:
    --spacing-unit,
}

/* = Shelley project scope and vars. */
:import {
  -st-from: "./project.st.css";
  -st-default: Puma;
  -st-named:
    /* = CSS3 Switcher vars. */
    --color-ui-inverse,
    --color-accent-1,
    --color-accent-2,
    --color-accent-3,
    --color-accent-4;
}

/* = Root Component */
:import {
  -st-from: "../../components/Preview/preview.st.css";
  -st-default: Preview;
}

/* = This is how we can scope the styles in Stylable. */
@st-scope Puma {

  Preview {}

  Preview:previewMode(1) iframe,
  Preview:previewMode(1) .appWrap {}

  Preview:previewMode(2) iframe,
  Preview:previewMode(2) .appWrap {}

  Preview:previewMode(3) iframe,
  Preview:previewMode(3) .appWrap {}

  Preview:previewMode(4) iframe,
  Preview:previewMode(4) .appWrap {}

}
